html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

html {
  overflow-y: scroll; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

@keyframes slideUpRocket {
  0% {
    background-position: 100% -200%;
    opacity: 0; }
  100% {
    background-position: 100% -50%;
    opacity: 1; } }

@keyframes slideUp {
  0% {
    right: 100%;
    bottom: -30%;
    opacity: 0; }
  100% {
    right: 0;
    bottom: -30%;
    opacity: 1; } }

@font-face {
  font-family: 'Bebas';
  src: url("../font/bebasneue-webfont.woff2") format("woff2"), url("../font/bebasneue-webfont.woff") format("woff");
  font-weight: 600;
  font-style: bold; }

@font-face {
  font-family: 'Bebas';
  src: url("../font/bebasneue-book-webfont.woff2") format("woff2"), url("../font/bebasneue-book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  background-color: #edead8;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 62px;
  font-family: "Bebas";
  font-size: 1.25rem;
  letter-spacing: 1px; }
  body .fondo-cohete {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url("../img/cohete.png");
    background-position: 50% 100%;
    background-size: 130%;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px) {
      body .fondo-cohete {
        background-position: 100% -50%;
        background-size: 85vh;
        animation: slideUpRocket 1s ease 1; } }
    @media only screen and (width: 768px) and (min-device-height: 1024px) {
      body .fondo-cohete {
        animation: none;
        background-position: -250% -50%; } }
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      body .fondo-cohete {
        animation: none;
        background-position: -200% -50%; } }
  body .fondo-amarillo {
    width: 700px;
    height: 700px;
    background: #f2e44c;
    position: absolute;
    right: 0;
    bottom: -30%;
    z-index: -2;
    transform: rotate(45deg); }
    @media screen and (min-width: 768px) {
      body .fondo-amarillo {
        animation: slideUp 1s ease 1; } }

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important; }

.has-text-bold {
  font-weight: bold; }

.spacer {
  height: 90vh; }
  @media screen and (min-width: 768px) {
    .spacer {
      height: 0; } }

.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto; }
  .container.no-padding {
    padding-left: 0;
    padding-right: 0; }

.columns {
  display: flex;
  flex-direction: column;
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .columns {
      flex-direction: row; } }
  .columns .column {
    flex: 1 1 0; }
  @media screen and (min-width: 768px) {
    .columns.is-half {
      max-width: 50%; } }

header.header {
  padding: 20px 0; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  nav .navbar-brand {
    width: 150px;
    display: inline-block; }
  nav .navbar-item {
    display: inline-block; }
  nav .social-button {
    height: 36px;
    width: 36px;
    transform: scale(0.8);
    background-image: url("../img/social-sprites.png");
    transition: ""; }
    @media screen and (min-width: 768px) {
      nav .social-button {
        transform: scale(1);
        margin: 0 5px; } }
    nav .social-button:hover {
      opacity: 0.5;
      transition: ""; }
    nav .social-button[title="Facebook"] {
      background-position: 0 0; }
    nav .social-button[title="Youtube"] {
      background-position: 72px 0; }
    nav .social-button[title="Instagram"] {
      background-position: 36px 0; }

footer.footer {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

#mc-embedded-subscribe-form {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #3d3d3d;
  color: white;
  padding: 30px 15px; }
  @media screen and (min-width: 768px) {
    #mc-embedded-subscribe-form {
      padding: 40px; } }
  #mc-embedded-subscribe-form label {
    display: none; }
  #mc-embedded-subscribe-form input, #mc-embedded-subscribe-form textarea {
    resize: none;
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px 10px 10px 0;
    color: white;
    background: none;
    border: none;
    border-bottom: 3px solid white;
    font-family: "Bebas";
    font-weight: bold;
    transition: ""; }
  #mc-embedded-subscribe-form input:focus, #mc-embedded-subscribe-form textarea:focus {
    border-bottom: 3px solid #f2e44c;
    transition: ""; }
  #mc-embedded-subscribe-form textarea {
    height: 80px; }
  #mc-embedded-subscribe-form input::placeholder, #mc-embedded-subscribe-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  #mc-embedded-subscribe-form input[type=submit] {
    border: none;
    padding: 15px;
    margin-bottom: 0;
    background: white;
    color: #191919;
    transition: ""; }
  #mc-embedded-subscribe-form input[type=submit]:hover {
    background: #F2E44C;
    color: #3d3d3d;
    transition: ""; }
